.settingsPopup {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 300px;
  padding: 15px;
  background: #fff;
  color: #000;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.156);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  border-radius: 30px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.label {
  font-size: 0.9rem;
}

.input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff; 
  color: #000; 
  font-size: 1rem;
}

.themeBtn,.saveBtn {
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.saveBtn {
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.themeBtn:hover,
.saveBtn:hover {
  background: #222; 
}

.closeBtn{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}