.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1000;
}

.navBar .logo img {
    width: 70px;
}

.navBar .content ul {
    display: flex;
    gap: 1rem;
}

.navBar .content ul li a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: 400;
    transition: .5s;
}

.navBar .content ul li a:hover {
    color: var(--primary-blue);
}


