*{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* Page Layout */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f7;
  padding: 20px;
}

.date {
  font-size: 15px;
  color: #555;
  margin-bottom: 12px;
  font-family: sans-serif;
}

/* Quote Card */
.card {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.8s ease forwards;
  opacity: 0;
}

/* Quote Text */
.body {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Georgia", serif;
  text-align: center;
  margin-bottom: 25px;
  color: #222;
}

/* Author */
.author {
  font-size: 18px;
  text-align: center;
  color: #444;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Buttons Row */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Source icon */
.icon-btn {
  font-size: 22px;
  text-decoration: none;
}

/* Next Button */
.next-btn {
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

/* Animation */
@keyframes slideDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
