:root{
    --main-background-color:#000000;
    --main-text-color:#ffffff;
}

.counterPage {
    width: 100%;
    height: 100vh;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.counterPage button{
    background-color: transparent;
    color: var(--main-text-color);
    outline: none;
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 2rem;
}

.counterPage .counterHeader{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.counterPage .counter{
    padding: 20px;
    height:calc(100vh - 150px) ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counterPage .counter .countNum{
    font-size: 15rem;
}

.counterPage .counter .decrement,
.counterPage .counter .increment{
    font-size: 2rem;
}

@media (width<=768px) {
    .counterPage button{
        font-size: 1.5rem;
    }
    .counterPage .counter{
        padding: 10px;
    }
    .counterPage .counter .countNum{
        font-size: 10rem;
    }

    .counterPage .counter .decrement,
    .counterPage .counter .increment{
        font-size: 1.5rem;
    }
}