.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.errorPage {
    text-align: center;
    padding: 40px;
    background-color: var(--bg-secondary);
    border-radius: 16px;
    box-shadow: var(--shadow-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    opacity: 0;
    animation: slideUp 0.6s ease forwards;
}

.errorPage h1 {
    font-size: 6rem;
    font-weight: 800;
    color: var(--btn-primary);
    margin: 0;
    line-height: 1;
}

.errorPage h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-secondary);
    margin: 0 0 24px 0;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: scale(.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (width< 768px) {
.errorPage{
    width: 80%;
}

    .errorPage h1 {
        font-size: 4rem;
    }

    .errorPage h2 {
        font-size: 1rem;
    }

    .errorPage p {
        font-size: 0.8rem;
    }

    .errorPage button {
        padding: 6px;
        width: 100px;
    }
}