* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Background */
body {
    margin: 0;
    padding: 0;
    background-image: url(/Rain\ Cloud\ Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

/* App wrapper */
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #868b94;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
}

/* Search */
.searchBox {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    position: relative;
}

.searchBox input {
    padding: 10px 15px;
    width: 220px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

@media (width <= 768px) {
    .searchBox input {
        width: 200px;
    }
}

.searchBox button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

.searchBox button:active {
    transform: scale(0.9);
}

.searchBox button:hover {
    background-color: rgb(228, 227, 227);
}

/* Card */
.card {
    position: relative;
    background: white;
    padding: 20px;
    width: 380px;
    height: 310px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.323);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 768px) {
    .card {
        width: 300px;
        height: 300px;
    }
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cityName {
    font-size: 1rem;
    font-weight: 600;
}

.country {
    font-size: 0.7rem;
    margin-left: 5px;
    color: rgb(155, 38, 38);
}

.time {
    font-size: 0.9rem;
    opacity: 0.7;
}

.temp {
    font-size: 3.2rem;
    margin: 0;
    color: #595d63;
}

.desc {
    margin-top: 5px;
    opacity: 0.6;
    font-size: 0.9rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bottom {
    font-size: 0.9rem;
    text-align: left;
}

.bottom p {
    margin-bottom: 5px;
}

.bottom span {
    margin-right: 10px;
}

img {
    cursor: pointer;
}

.weatherIcon {
    width: 100px;
    position: relative;
    right: 5%;
}

.empty {
    position: relative;
    background-color: aliceblue;
    padding: 20px;
    width: 380px;
    height: 110px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.323);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595d63;
    font-size: 1.2rem;
    font-weight: 600;
    animation: smooth 1s ease-in-out 0s infinite alternate;
}

@media (width <= 768px) {
    .empty {
        width: 320px;
    }
}

@keyframes smooth {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.loading {
    font-size: 2rem;
}
