.homeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100dvh - 151px);
    padding: 2rem;
    gap: 2rem;
}

.contentSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 10rem;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-dark);
    line-height: 1.2;
}

.highlight {
    color: var(--primary-green);
}

.description {
    font-size: 1.2rem;
    color: #666;
    max-width: 500px;
    line-height: 1.6;
    text-align: center;
}

.getStartedBtn {
    padding: 1rem 2.5rem;
    font-weight: 600;
    color: var(--bg-white);
    background-color: var(--primary-blue);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: fit-content;
}

.getStartedBtn a{
    color: var(--bg-white);
    text-decoration: none;
    font-size: 1.2rem;
}

.getStartedBtn:focus{
    outline: none;
    border: none;
}

.getStartedBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(13, 110, 253, 0.3);
    background-color: #0b5ed7;
}

.getStartedBtn:active{
    transform: scale(.9);
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroImage {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 10px 15px #198754bd);
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (width < 1200px) {
    .contentSection {
        padding-left: 5rem;
    }

    .title{
        font-size: 2.5rem;
    }

    .description{
        font-size: 1rem;
    }
}

@media (width < 992px) {
    .contentSection {
        padding-left: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title{
        font-size: 3rem;
    }

    .description{
        font-size: 1rem;
    }

    .getStartedBtn a{
        font-size: .8rem;
    }

    .imageSection{
        display: none;
    }
}

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column-reverse;
        text-align: center;
        padding: 1rem;
        justify-content: center;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: .8rem;
    }
}
