.container{
    background-color: var(--sidebar-bg);
    height: 100%;
    padding: 10px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;
    border-radius: var(--border);
    box-shadow: var(--shadow-soft);
}

.messageList{
    flex: 1;
    overflow-y: auto;
}

.emptyContainer{
    width: 100%;
    height: 100%;
    background-image: url(/Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;
    border-radius: var(--border);
    position: relative;
}

.emptyContainer .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: var(--border);
}

@media (width < 500px) {
    .container{
        padding: 5px;
    }

    .emptyContainer{
        padding: 5px;
    }
}