.navBar {
    background-color: rgba(0, 0, 0, 0.251);
    padding: 1.2rem 2rem;
    box-shadow: 0 0px 6px 10px rgba(247, 132, 2, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 100;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content ul {
    display: flex;
    gap: 2rem;
}

.link {
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-md);
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--primary-color-hover);
}

.active {
    color: var(--primary-color);
}

/* Underline effect for active/hover */
.link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.link:hover::after,
.active::after {
    width: 100%;
}

.cartIcon{
    position: absolute;
    font-size: var(--font-lg);
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cartIcon a{
    color: white;
}

.cartIcon .cartCount{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: var(--font-sm);
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cartTotal{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: var(--font-md);
    padding:5px 10px;
    background-color: var(--primary-color-hover);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navBar {
        padding: 1rem;
    }

    .content ul {
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link {
        font-size: 1rem;
    }
}