:root {
    --primary-blue: #0d6efd;
    --primary-green: #198754;
    --bg-white: #ffffff;
    --text-dark: #333333;
}

.footer {
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    background-color: var(--primary-green);
}

.footer span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #f2ff00 ;
}