* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Winky Sans", sans-serif;
    background-color: var(--bg-white);
    color: var(--text-dark);
}

:root {
    --primary-blue: #0d6efd;
    --primary-green: #198754;
    --bg-white: #ffffff;
    --text-dark: #333333;
}

a.active {
    color: var(--primary-green) !important;
    font-weight: 700 !important;
}

.all-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}

main{
    flex: 1;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-animate {
    animation: fadeIn 0.8s ease-out forwards;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img, a, button{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}