@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* start theme example v1 */
/* =================== Dark Theme =================== */
:root {
  /* Backgrounds */
  --bg-main: #121212;
  --bg-card: #1E1E1E;
  --bg-hover: #2C2C2C;

  /* Text */
  --text-primary: #FFFFFF;
  --text-secondary: #B0B0B0;
  --text-accent: #FF3D00;
  --text-link: #FF5722;
  --text-muted:#999;

  /* Buttons */
  --btn-primary-bg: #FF3D00;
  --btn-primary-text: #FFFFFF;
  --btn-secondary-bg: #2C2C2C;
  --btn-secondary-text: #FFFFFF;
  --btn-hover-bg: #FF5722;
  --btn-hover-text: #FFFFFF;

  /* Borders & Shadows */
  --border-color: #2C2C2C;
  --card-shadow: 0 4px 12px rgba(67, 67, 67, 0.5);
  --btn-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* =================== Light Theme =================== */
.light {
  /* Backgrounds */
  --bg-main: #F5F5F5;
  --bg-card: #FFFFFF;
  --bg-hover: #E0E0E0;

  /* Text */
  --text-primary: #1E1E1E;
  --text-secondary: #555555;
  --text-accent: #FF3D00;
  --text-link: #FF5722;
  --text-muted:#999;

  /* Buttons */
  --btn-primary-bg: #FF3D00;
  --btn-primary-text: #FFFFFF;
  --btn-secondary-bg: #E0E0E0;
  --btn-secondary-text: #1E1E1E;
  --btn-hover-bg: #FF5722;
  --btn-hover-text: #FFFFFF;

  /* Borders & Shadows */
  --border-color: #CCCCCC;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --btn-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


/* end theme example v1 */

body{
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-transform: none;
}

.error {
    color: var(--text-accent);
    margin-top: -12px;
    margin-left: 4px;
    font-size: 12px;
}

button,
input,
textarea,
a,
li,
img,
span,
svg{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* start main page style */
.all-page{
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

nav{
  position: sticky;
  top: 0;
  z-index: 1000;
}

main{
  flex: 1;
}

/* end main page style */