.welcomePage{
    width: 100%;
    height: 100vh;
    background-image: url(/bg-welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcomePage .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.649);
}

.welcomePage .welcomeContent{
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomePage .welcomeContent h1{
    margin-bottom: 50px;
    font-size: 2rem;
    width: fit-content;
    opacity: 0;
    transform: translateY(-10px);
    transition: .4s;
    animation: show-header 1.5s ease-in-out 1 forwards ;
}

.welcomePage .welcomeContent p{
    font-size: 1rem;
    color: #b7b7b7;
    opacity: 0;
    animation: show-p 1.6s 1.5s ease-in-out 1 forwards ;
}

@keyframes show-header {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes show-p {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}