* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.all-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #111111e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.all-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(#fffefe5d 1px, transparent 1px),
    linear-gradient(90deg, #fffcfc54 1px, transparent 1px);
  background-size: 30px 30px;
  z-index: 100;
}

.all-page .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 110px;
  position: relative;
  z-index: 1000;
  color: white;
  font-size: 30px;
}

.all-page .set-new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.466);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
  height: 80px;
  border-radius: 10px;
}

.all-page .set-new-task form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-page .set-new-task form {
  width: 100%;
}

.all-page .set-new-task button {
  outline: none;
  border: none;
  padding: 5px 15px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
}

.add-value {
  background-color: rgb(55, 141, 63);
}

.reset-value {
  background-color: rgb(151, 36, 36);
}
.all-page .set-new-task button:first-of-type {
  margin-right: 5px;
}

.all-page .tasks-list {
  background-color: rgba(0, 0, 0, 0.466);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  color: white;
  overflow: auto;
  position: relative;
  z-index: 100;
}

.all-page .tasks-list::-webkit-scrollbar {
  width: 5px;
}

.all-page .tasks-list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.all-page .tasks-list::-webkit-scrollbar-track {
  background-color: white;
}


/* start responsive design */

@media (width <= 500px) {
  .all-page .set-new-task{
    height: fit-content;
  }

  .all-page .logo {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .all-page .set-new-task form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .all-page .set-new-task form input {
    width: 100% !important;
    margin-right: 0;
  }

  .all-page .logo {
    font-size: 25px;
  }

  .button-container {
    flex-grow: 1;
  }

  .all-page button {
    font-size: 0.8rem !important;
    padding: 2px 10px !important;
  }
}

@media (width >= 768px) {
  .all-page .set-new-task,
  .all-page .tasks-list {
    width: 70%;
  }
}

@media (width >= 1000px) {
  .all-page .set-new-task,
  .all-page .tasks-list {
    width: 50%;
  }
}

/* end responsive design */