.welcomePage{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomePage .header{
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.welcomePage h2{
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

.welcomePage .headerOverlay{
    position: absolute;
    width: 101%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: black;
    animation: show 1.5s ease 1s forwards ;
    transition: .4s;
}

.welcomePage .paragraph p {
    font-size: 1.2rem;
    opacity: 0;
    transition: .4s;
    transform: translateY(-10px);
    animation: show-p .8s linear 2.2s 1 forwards ;
}

@keyframes show-p {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes show {
    from{
        width: 101%;
    }
    to{
        width: 0;
    }
}
