.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-50);
    color: var(--text-900);
    text-align: center;
    gap: var(--space-md);
}

.title {
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--error-500);
}

.message {
    font-size: var(--text-lg);
    color: var(--text-500);
}
