.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--bg-secondary);
    border-bottom-color: var(--btn-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
