.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container input {
    flex: 1;
    background: transparent;
    color: var(--input-text);
    font-size: .7rem;
    padding: 12px 10px;
    outline: none;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius:10px;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.723);
}

.container input:focus{
    border-color: var(--btn-primary);
    box-shadow: var(--shadow-soft);
}

.container input::placeholder {
    color: var(--text-muted);
}

.container input:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
