.allSignUpPage {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    padding-inline: 20px;
}

.SignUpForm {
    width: 100%;
    max-width: 550px;
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color);
    animation: fadeIn 0.5s ease-out;
}

.SignUpForm form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signUp {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
}

.signUp p {
    color: var(--text-secondary);
    font-size: 0.85rem;
}

.signUp a {
    color: var(--text-link);
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    transition: color 0.3s;
    font-size: .95rem;
}

.signUp a:hover {
    color: var(--text-accent);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .SignUpForm {
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .allSignUpPage {
        padding-inline: 10px;
    }
}
