.footerContainer {
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid var(--secondary-color-hover);
    position: relative;
    z-index: 100;
    box-shadow: 5px 0px 6px 5px var(--shadow-orange-color);
}

.text {
    color: var(--text-color-light);
    font-size: var(--font-xs);
    margin: 0;
    letter-spacing: 0.5px;
    opacity: 0.9;
}

.text span {
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.text span:hover {
    color: var(--primary-color-hover);
    text-shadow: 0 0 8px var(--shadow-orange-color);
    cursor: default;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footerContainer {
        padding: 1rem;
    }

    .text {
        font-size: var(--font-sm);
    }
}
