.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    opacity: 1;
    padding: 40px 20px;
}

.header {
    margin-bottom: 24px;
    text-align: center;
    background-color: var(--bg-secondary);
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: var(--shadow-soft);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.header h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-primary);
    margin: 0;
}

.form {
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    box-shadow: var(--shadow-soft);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.formFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--text-secondary);
}

.formFooter a{
    color: var(--btn-primary);
    transition: color .5s ease ;
}

.formFooter a:hover{
    color: var(--btn-primary-hover);
    text-decoration: underline;
}
