.tasksPage {
  width: 100%;
  color: white;
}

.tasksPage ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasksPage ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tasksPage ul li .taskTitle {
  flex-grow: 1;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tasksPage ul li .taskTitle .checkedInp[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: #4caf50;
  cursor: pointer;
}

.checked {
  color: #999;
}

.tasksPage ul li button {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

.edit {
  margin-right: 10px;
  background-color: #378d3f;
}

.editValue {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.editValue input {
  width: 50%;
}

.delete {
  background-color: #972424;
}