.container {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.chatList{
    width: 35%;
    min-width: 320px;
}

.chat{
    width: calc(65% - 20px);
}


@media (width<= 800px) {
    .container{
        flex-direction: column;
        width: 100%;
        gap: 10px;
        height: 100%;
    }

    .chatList{
        width: 100%;
        height: 40%;
        max-height: 300px;
        min-width: 0;
    }

    .chat{
        width: 100%;
        height: 60%;
        max-height: 350px;
        min-width: 0;
    }
}