header {
  background: #c6c6c6;
  color: #000000;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

header p {
  margin: 0.5rem 0 1.5rem;
  font-size: 1.1rem;
  opacity: 0.7;
  font-weight: 400;
}

/* Navigation Styles */
header nav {
  margin: 30px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

header nav ul li button {
  border: none;
  outline: none;
  background-color: transparent;
  transition: .4s;
}

header nav ul li button:active{
  transform: scale(0.95);
}

header nav a {
  text-decoration: none;
  color: #333333;
  background-color: #f5f5f544;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all .4s ease;
  border: 1px solid transparent;
}

header nav a:hover {
  color: #000000; 
  background-color: #e0e0e0;
}

header nav a.active {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 4px 4px rgba(251, 248, 248, 0.518);
}

/* Responsive Design */
@media (max-width: 600px) {
  header {
    padding: 1.5rem 0.5rem;
  }

  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  header nav {
    margin-top: 20px;
  }

  header nav ul {
    gap: 0.8rem;
  }

  header nav a {
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
  }
}
