.actionButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.actionButton button{
    background-color: rgb(28, 90, 131);
    padding: 10px ;
    font-size: var(--font-xs);
}

.actionButton button:hover{
    background-color: rgb(20, 67, 98);
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.quantity button{
    padding: 10px !important;
}