*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start color theme */

:root {
    /* Background Colors */
    --bg-50: #ffffff;
    --bg-100: #f4f4f4;
    --bg-200: #eaeaea;
    --bg-300: #e7e7e7;

    /* Text Colors */
    --text-900: #111827;
    --text-700: #374151;
    --text-500: #6b7280;
    --text-400: #9ca3af;

    /* Main Brand Color (Slate Blue) */
    --primary-50: #f8fafc;
    --primary-100: #f1f5f9;
    --primary-200: #e2e8f0;
    --primary-300: #cbd5e1;
    --primary-400: #94a3b8;
    --primary-500: #64748b;
    --primary-600: #475569;
    --primary-700: #334155;

    /* Secondary Color (Cool Gray) */
    --secondary-100: #f3f4f6;
    --secondary-300: #d1d5db;
    --secondary-500: #6b7280;

    /* Buttons */
    --btn-primary-bg: var(--primary-600);
    --btn-primary-hover: var(--primary-700);
    --btn-primary-text: #ffffff;

    --btn-secondary-bg: var(--bg-200);
    --btn-secondary-hover: var(--bg-300);
    --btn-secondary-text: var(--text-primary);

    /* buttons size */
    --btn-padding-y-sm: 0.375rem;
    --btn-padding-x-sm: 0.75rem;

    --btn-padding-y-md: 0.5rem;
    --btn-padding-x-md: 1rem;

    --btn-padding-y-lg: 0.75rem;
    --btn-padding-x-lg: 1.25rem;

    /* Links */
    --link-default: var(--primary-600);
    --link-hover: var(--primary-700);

    /* Border Colors */
    --border-100: #e5e7eb;
    --border-200: #d1d5db;
    --border-focus: var(--primary-500);

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.12);

    /* Semantic Colors */
    --success-500: #22c55e;
    --warning-500: #f59e0b;
    --error-500: #ef4444;
    --info-500: #3b82f6;

    /* States */
    --active-bg: var(--primary-100);
    --disabled-bg: var(--bg-200);
    --disabled-text: var(--text-400);

    --focus-ring: 0 0 0 2px rgba(100, 116, 139, 0.4);

    /* Font Sizes */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-md: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2rem;
    --text-larger: 3rem;

    /* Line Heights */
    --lh-tight: 1.25;
    --lh-normal: 1.5;
    --lh-relaxed: 1.75;

    /* spacing */
    --space-2xs: 0.25rem; /* 4px */
    --space-xs: 0.5rem; /* 8px */
    --space-sm: 0.75rem; /* 12px */
    --space-md: 1rem; /* 16px */
    --space-lg: 1.5rem; /* 24px */
    --space-xl: 2rem; /* 32px */
    --space-2xl: 3rem; /* 48px */

    /* border radius */
    --radius-xs: 0.375rem; /* 6px */
    --radius-sm: 0.5rem; /* 8px */
    --radius-md: 0.75rem; /* 12px */
    --radius-lg: 1rem; /* 16px */
    --radius-xl: 1.5rem; /* 24px */
}

.dark {
    /* Background Colors */
    --bg-50: #0f172a;
    --bg-100: #111827;
    --bg-200: #1f2933;
    --bg-300: #374151;

    /* Text Colors */
    --text-900: #f9fafb;
    --text-700: #e5e7eb;
    --text-500: #9ca3af;
    --text-400: #6b7280;

    /* border */
    --border-100: #374151;
    --border-200: #4b5563;

    /* shadow */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);

    /* Semantic Colors */
    --success-500: #22c55e;
    --warning-500: #f59e0b;
    --error-500: #ef4444;
    --info-500: #3b82f6;

    /* Font Sizes */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-md: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2rem;
    --text-larger: 3rem;

    /* Line Heights */
    --lh-tight: 1.25;
    --lh-normal: 1.5;
    --lh-relaxed: 1.75;

    /* buttons size */
    --btn-padding-y-sm: 0.375rem;
    --btn-padding-x-sm: 0.75rem;

    --btn-padding-y-md: 0.5rem;
    --btn-padding-x-md: 1rem;

    --btn-padding-y-lg: 0.75rem;
    --btn-padding-x-lg: 1.25rem;

    /* spacing */
    --space-2xs: 0.25rem; /* 4px */
    --space-xs: 0.5rem; /* 8px */
    --space-sm: 0.75rem; /* 12px */
    --space-md: 1rem; /* 16px */
    --space-lg: 1.5rem; /* 24px */
    --space-xl: 2rem; /* 32px */
    --space-2xl: 3rem; /* 48px */

    /* border radius */
    --radius-xs: 0.375rem; /* 6px */
    --radius-sm: 0.5rem; /* 8px */
    --radius-md: 0.75rem; /* 12px */
    --radius-lg: 1rem; /* 16px */
    --radius-xl: 1.5rem; /* 24px */
}

/* end color theme */

body {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: initial;
}

a,
button,
img,
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: var(--primary-200);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-600);
    border-radius: var(--radius-lg);
}

.error{
    color: var(--error-500);
    margin: 0;
    font-size: var(--text-xs);
    /* margin-top: var(--space-2xs); */
}