.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
    color: #e0e0e0;
}

.loginContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.imageSide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    overflow: hidden;
}

.loginImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.formSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form{
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.loginCard {
    background: #1e1e1e;
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 450px;
    border: 1px solid #333;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    color: #a0a0a0;
    margin-bottom: 2.5rem;
    text-align: center;
}

.actionsGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forgotPassword {
    text-align: right;
    margin-bottom: 1.75rem;
    font-size: .8rem;
}

.signupLink {
    margin-top: 1.75rem;
    text-align: center;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.link {
    color: #4dabf7;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.signupLink .link {
    font-size: 1rem;
}

.link:hover {
    color: #4a8dc1;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .pageContainer {
        flex-direction: column;
    }

    .imageSide {
        display: none;
    }

    .formSide {
        padding: 1rem;
    }

    .loginCard {
        padding: 2rem;
    }
}
