.actions {
    display: flex;
    gap: var(--space-2xs);
}

.actionBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--radius-sm);
    background-color: transparent;
    color: var(--text-500);
    cursor: pointer;
    transition: all 0.2s;
    padding: var(--btn-padding-y-sm) var(--btn-padding-x-sm);
}

.infoBtn button:hover {
    background-color: var(--info-500) !important;
    color: white !important;
}

.editBtn button:hover {
    background-color: var(--warning-500) !important;
    color: white !important;
}

.deleteBtn button:hover {
    background-color: var(--error-500) !important;
    color: white !important;
}